<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}">
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}">
    <title>Stock Adjustment - EccountBookERP</title>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20260920a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20260928b}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_define.css?v=20260929a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_hrm.css?v=20260929a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_pp_ppc.css?v=20260930a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_grid_bar.css?v=20261005a}"/>
</head>
<!-- Architecture.WinApp.PartyProcessing.StockAdjustment (604, DocumentTypeId 158). tabControl1: Form | History.
     Form: toolStrip1 New | Refresh | Update | Save | Delete | Attachment | 158-Print | Load Data | ShortCut; panel3 caption
     "Stock Adjustment" + Print Preview; panel4: Doc No & Date, Entry Type, Stock Party | Remarks; panel5 detail entry:
     WareHouse, Item Name (Balance), CropYear, JobLot, PackingType, Pack UOM / Qty, Weight, Comments, + (Update / Cancel);
     grd (X, Edit). History: toolStrip2 New | Refresh; Filters: From / To Date, From / To Doc No, Entry Type, Stock Party,
     Show, Doc / Entry / Modify Date; grdhistory (Print, Edit); grdHistoryDetail. -->
<body class="pd-body hrm-body" data-hrm="pp-stock-adjustment" th:attr="data-screen=${ppScreen}">
<div th:replace="~{fragments/erp_navigation :: navigation}"></div>
<div class="hrm-form">
    <div class="hrm-tabs" data-tabs="main">
        <button type="button" class="hrm-tab is-active" data-tab="form">Form</button>
        <button type="button" class="hrm-tab" data-tab="history">History</button>
    </div>

    <div class="hrm-tab-page is-active" data-group="main" data-page="form">
        <div class="win-tool-strip">
            <button type="button" id="btnnew" class="win-btn-tool" onclick="PpSa.btnnew()"><i class="fa fa-plus"></i> <span><u>N</u>ew</span></button>
            <button type="button" id="btnRefresh" class="win-btn-tool" onclick="PpSa.btnRefresh(this)"><i class="fa fa-refresh"></i> <span>Refresh</span></button>
            <button type="button" id="btnupdate" class="win-btn-tool is-hidden" onclick="PpSa.btnupdate(this)"><i class="fa fa-pencil"></i> <span><u>U</u>pdate</span></button>
            <button type="button" id="btnsave" class="win-btn-tool" onclick="PpSa.btnsave(this)"><i class="fa fa-save"></i> <span><u>S</u>ave</span></button>
            <button type="button" id="btnDelete" class="win-btn-tool is-hidden" onclick="PpSa.btnDelete(this)"><i class="fa fa-trash"></i> <span>Delete</span></button>
            <button type="button" id="btnattachment" class="win-btn-tool" disabled title="Attachments are not ported to the web"><i class="fa fa-paperclip"></i> <span><u>A</u>ttachment</span></button>
            <button type="button" id="btnprint" class="win-btn-tool" onclick="PpSa.btnprint(this)" data-rpt-skip><i class="fa fa-print"></i> <span>158-Print</span></button>
            <button type="button" id="btnLoadAvailableData" class="win-btn-tool" onclick="PpSa.btnLoadAvailableData()"><i class="fa fa-download"></i> <span>Load Data</span></button>
            <button type="button" id="btnshortcut" class="win-btn-tool" onclick="PpSa.shortcuts()"><i class="fa fa-keyboard-o"></i> <span>ShortCut Keys</span></button>
        </div>
        <div class="hrm-caption"><span>Stock Adjustment</span>
            <span class="ppc-caption-right"><label class="hrm-check"><input type="checkbox" id="ChkPrint"> Print Preview</label></span></div>
        <div class="hrm-entry hrm-cols-2" style="align-items:start">
            <div class="hrm-field"><label for="txtdocno">Doc No &amp; Date</label>
                <div class="ppc-pair"><input type="text" id="txtdocno" class="win-textbox" readonly tabindex="-1"/><input type="date" id="DocDate" class="win-textbox"/></div></div>
            <div class="hrm-field hrm-stack" style="grid-row:span 3"><label for="txtremarks">Remarks</label><textarea id="txtremarks" class="win-textbox" rows="3"></textarea></div>
            <div class="hrm-field"><label for="CmbEntryType">Entry Type</label><select id="CmbEntryType" class="win-combo dtcombo" data-dtcombo="single"></select></div>
            <div class="hrm-field"><label for="CmbStockParty">Stock Party</label><select id="CmbStockParty" class="win-combo dtcombo" data-dtcombo="single"></select></div>
        </div>
        <fieldset class="hrm-group">
            <legend>Detail</legend>
            <div class="hrm-entry" style="grid-template-columns:repeat(auto-fill,minmax(150px,1fr))">
                <div class="hrm-field hrm-stack"><label for="CmbWareHouse">WareHouse</label><select id="CmbWareHouse" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack hrm-span-2"><label for="CmbItemName">Item Name <span id="lblStockBalance" class="is-hidden" style="color:#c00"></span></label><select id="CmbItemName" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack"><label for="CmbCropYear">CropYear</label><select id="CmbCropYear" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack"><label for="CmbJobLot">JobLot</label><select id="CmbJobLot" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack"><label for="CmbPackingType">PackingType</label><select id="CmbPackingType" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack"><label for="CmbPackUom">Pack UOM</label><select id="CmbPackUom" class="win-combo"></select></div>
                <div class="hrm-field hrm-stack"><label for="txtqty">Qty</label><input type="text" id="txtqty" class="win-textbox hrm-al-right" inputmode="decimal" autocomplete="off"/></div>
                <div class="hrm-field hrm-stack"><label for="txtweight">Weight</label><input type="text" id="txtweight" class="win-textbox hrm-al-right" inputmode="decimal" autocomplete="off"/></div>
                <div class="hrm-field hrm-stack hrm-span-2"><label for="txtremarksdetail">Comments</label><input type="text" id="txtremarksdetail" class="win-textbox" autocomplete="off"/></div>
                <div class="hrm-field hrm-stack"><label>&nbsp;</label>
                    <div class="hrm-inline"><button type="button" id="btnplus" class="win-btn-action" style="min-width:0;width:40px" onclick="PpSa.btnplus()">+</button>
                        <button type="button" id="btnUpdateDetail" class="win-btn-action is-hidden" onclick="PpSa.btnUpdateDetail()">Update</button>
                        <button type="button" id="btnCancelUpdateDetial" class="win-btn-action is-hidden" onclick="PpSa.btnCancelUpdateDetial()">Cancel</button></div></div>
            </div>
        </fieldset>
        <div class="hrm-grid-box">
            <div class="hrm-subcaption"><span>Detail</span><button type="button" class="hrm-fs-btn" data-hrm-fullscreen title="Full screen"><i class="fa fa-expand"></i></button></div>
            <div class="hrm-grid-wrap"><table data-gridbar="StockAdjustment:grd" id="grd"></table></div>
        </div>
    </div>

    <div class="hrm-tab-page" data-group="main" data-page="history">
        <div class="win-tool-strip">
            <button type="button" id="btnNewHistory" class="win-btn-tool" onclick="PpSa.btnNewHistory()"><i class="fa fa-plus"></i> <span><u>N</u>ew</span></button>
            <button type="button" id="btnRefreshHistory" class="win-btn-tool" onclick="PpSa.btnRefreshHistory(this)"><i class="fa fa-refresh"></i> <span>Refresh</span></button>
        </div>
        <div class="hrm-caption"><span>Stock Adjustment History</span></div>
        <fieldset class="hrm-group">
            <legend>Filters</legend>
            <div class="hrm-entry" style="grid-template-columns:repeat(auto-fill,minmax(190px,1fr))">
                <div class="hrm-field hrm-stack"><label for="FromDateHistory">From Date</label>
                    <div class="ppc-date-chk"><input type="checkbox" id="chkFromDateHistory" checked title="Use From Date"><input type="date" id="FromDateHistory" class="win-textbox"/></div></div>
                <div class="hrm-field hrm-stack"><label for="ToDateHistory">To Date</label>
                    <div class="ppc-date-chk"><input type="checkbox" id="chkToDateHistory" checked title="Use To Date"><input type="date" id="ToDateHistory" class="win-textbox"/></div></div>
                <div class="hrm-field hrm-stack"><label for="txtFromDocNoHistory">From Doc No</label><input type="text" id="txtFromDocNoHistory" class="win-textbox" inputmode="numeric" autocomplete="off"/></div>
                <div class="hrm-field hrm-stack"><label for="txtToDocNoHistory">To Doc No</label><input type="text" id="txtToDocNoHistory" class="win-textbox" inputmode="numeric" autocomplete="off"/></div>
                <div class="hrm-field hrm-stack"><label for="CmbAdjustmentTypeHistory">Entry Type</label><select id="CmbAdjustmentTypeHistory" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack"><label for="CmbStockPartyHistory">Stock Party</label><select id="CmbStockPartyHistory" class="win-combo dtcombo" data-dtcombo="single"></select></div>
                <div class="hrm-field hrm-stack"><label>&nbsp;</label><button type="button" id="btnShowHistory" class="win-btn-action" onclick="PpSa.btnShowHistory(this)">Show</button></div>
                <div class="hrm-field hrm-stack"><label>&nbsp;</label>
                    <div class="ppc-radios">
                        <label class="hrm-check"><input type="radio" name="histDateMode" value="doc" checked> Doc Date</label>
                        <label class="hrm-check"><input type="radio" name="histDateMode" value="entry"> Entry Date</label>
                        <label class="hrm-check"><input type="radio" name="histDateMode" value="modify"> Modify Date</label>
                    </div></div>
            </div>
        </fieldset>
        <div class="hrm-grid-box">
            <div class="hrm-subcaption"><span>Main</span><button type="button" class="hrm-fs-btn" data-hrm-fullscreen title="Full screen"><i class="fa fa-expand"></i></button></div>
            <div class="hrm-grid-wrap"><table data-gridbar="StockAdjustment:grdhistory" id="grdhistory"></table></div>
        </div>
        <div class="hrm-grid-box hrm-grid-short">
            <div class="hrm-subcaption"><span>Detail of The Selected Above row</span><button type="button" class="hrm-fs-btn" data-hrm-fullscreen title="Full screen"><i class="fa fa-expand"></i></button></div>
            <div class="hrm-grid-wrap"><table id="grdHistoryDetail"></table></div>
        </div>
    </div>

    <div class="hrm-footer">
        <div class="hrm-footer-left"><span id="lblStatus"></span></div>
        <div class="hrm-footer-right"><button type="button" id="btnHistory" class="win-btn-action"><i class="fa fa-history"></i> History</button></div>
    </div>
</div>
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/build/js/countx_hrm.js?v=20260929a}"></script>
<script th:src="@{/build/js/countx_pp_ppc_common.js?v=20260930a}"></script>
<script th:src="@{/build/js/countx_pp_stock_adjustment.js?v=20260930a}"></script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20260928a}"></script>
<script th:src="@{/build/js/countx_input_guards.js}"></script>
<script th:src="@{/build/js/countx_crystal_print.js?v=20261003erp}"></script>
<script th:src="@{/build/js/countx_grid_bar.js?v=20261006-grid-control-placement}"></script>
</body>
</html>
