<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}">
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}">
    <title>Commission Agent Fcy Ledger - EccountBookERP</title>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20260920a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20260928b}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_grid_bar.css?v=20260925a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_define.css?v=20260929a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_export.css?v=20260929a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_export_rpt_c.css?v=20260930c}"/>
</head>
<!-- CommissionAgentFcyLedger.cs (Architecture.WinApp.ExportReports), screen 256 "Comm Agent Fcy Ledger", ClientSize 761 x 434.
     tsItemType: btnnew "&New" | btnRefresh "Refresh" | btnRegisterReport "Print-568" | btnShortCutKey. panel5 "Commission Agent Fcy Ledger";
     groupBox1 "Filters": Date Type (CmbDateType, Rows[2] "This Month"), Date From / Date To (dd-MMM-yy), Commission Agent (cmbSupplierName), btnShow "Show".
     grdShipment (16 columns, Id hidden). GridBind: "Commission Agent Required!" without an agent.
     Events: CmbDateType.ValueChanged, btnShow.Click, New/Refresh/Print/ShortCut, KeyDown. -->
<body class="pd-body exr-page" data-export-page="cal256">
<div class="pd-form ex-form">
    <div class="win-tool-strip">
        <button type="button" id="btnnew" class="win-btn-tool" onclick="ExportCommAgentLedger.reset()"><i class="fa fa-plus"></i> <span><u>N</u>ew</span></button> <button type="button" id="btnRefresh" class="win-btn-tool" onclick="ExportCommAgentLedger.refresh(this)"><i class="fa fa-refresh"></i> <span>Refresh</span></button> <button type="button" id="btnRegisterReport" class="win-btn-tool" onclick="ExportCommAgentLedger.print(this)"><i class="fa fa-print"></i> <span>Print-568</span></button> <button type="button" id="btnShortCutKey" class="win-btn-tool" onclick="ExportCommAgentLedger.shortcuts()"><i class="fa fa-keyboard-o"></i> <span>ShortCut Keys</span></button>
    </div>
    <div class="exr-title">Commission Agent Fcy Ledger</div>
    <fieldset class="exr-filters"><legend>Filters</legend>
        <div class="exr-row">
            <div class="ex-field w150"><label>Date Type</label><select id="CmbDateType" class="win-combo dtcombo" data-dtcombo="single" data-dtcombo-caption="Parameters"></select></div> <div class="ex-field w150"><label>Date From</label><input type="date" id="txtdatefrom" class="win-date"/></div> <div class="ex-field w150"><label>Date To</label><input type="date" id="txtdateto" class="win-date"/></div> <div class="ex-field w320"><label>Commission Agent</label><select id="cmbSupplierName" class="win-combo dtcombo" data-dtcombo="single" data-dtcombo-caption="Commission Agent"></select></div>
            <div class="ex-field"><label>&nbsp;</label><button type="button" id="btnShow" class="exr-btn" onclick="ExportCommAgentLedger.show(this)">Show</button></div>
        </div>
    </fieldset>
    <div class="pd-caption pd-caption-dark pd-history-bar"><span>Ledger</span>
        <span class="ex-bar-right"><button type="button" class="ex-fs-btn" data-fullscreen="grdShipmentBox" title="Fullscreen table">&#x26F6;</button><span id="gridBarMount" class="pd-gridbar-mount"></span></span></div>
    <div class="ex-grid-box" id="grdShipmentBox">
        <div class="ex-grid-scroll ex-h400">
            <table class="win-grid" id="grdShipment" data-gridbar="CommissionAgentFcyLedger:grdShipment" data-gridbar-mount="#gridBarMount" data-gridbar-reorder="false"><thead></thead><tbody></tbody><tfoot></tfoot></table>
        </div>
        <div class="ex-grid-empty is-hidden" id="grdShipmentEmpty">No record found.</div>
    </div>
    <div class="win-footer-strip">
        <span class="ex-footer-left" id="footerInfo"></span>
        <button type="button" class="win-btn-history" id="btnFooterHistory" onclick="ExportCommAgentLedger.toggleHistory()"><i class="fa fa-history"></i> <span>History</span></button>
    </div>
</div>
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/build/js/countx_export_rpt_c.js?v=20260930c}"></script>
<script th:src="@{/build/js/countx_export_commission_agent_fcy_ledger.js?v=20260930c}"></script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20260928a}"></script>
<script th:src="@{/build/js/countx_grid_bar.js?v=20260925a}"></script>
<script th:src="@{/build/js/countx_input_guards.js?v=20260920a}"></script>
<script src="/js/print-rpt.js?v=20261001a"></script>
</body>
</html>
