<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}">
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}">
    <title>Shipment Data For Brokery Tax - EccountBookERP</title>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20260920a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20260928b}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_grid_bar.css?v=20260925a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_define.css?v=20260929a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_export.css?v=20260929a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_export_rpt_c.css?v=20260930c}"/>
</head>
<!-- ShipmentdataForBrokeryTax.cs (Architecture.WinApp.ExportReports), screen 242, ClientSize 971 x 434.
     tsItemType: btnnew "&New" | btnRegisterReport "Print-570" | btnRefresh "Refresh" (Visible=false) | btnShortCutKey.
     panel5 (rgb 10,110,110) "Shipment Data For Brokery Tax"; groupBox1 "Filters": Date Type (CmbDateType, Rows[2] "This Month"), Date From / Date To (dd-MMM-yy), btnShow (Teal).
     groupBox2 "Extra Information " (Visible=false until data): Total Lcy Diff (lblTotalDiffPkr), % (txtPercent) -> lblPercntPkr, Brokery % (txtBrokeryPrcnt) -> lblBrokeryPkr.
     grdShipment: 18 projected columns, Id/DocumentTypeId/InvoiceId hidden, CustomerName caption "Consignee".
     Events: CmbDateType.ValueChanged, btnShow.Click, txtPercent/txtBrokeryPrcnt TextChanged + KeyPress (decimal only), prints, KeyDown. -->
<body class="pd-body exr-page" data-export-page="brk242">
<div class="pd-form ex-form">
    <div class="win-tool-strip">
        <button type="button" id="btnnew" class="win-btn-tool" onclick="ExportBrokeryTax.reset()"><i class="fa fa-plus"></i> <span><u>N</u>ew</span></button> <button type="button" id="btnRegisterReport" class="win-btn-tool" onclick="ExportBrokeryTax.print(this)"><i class="fa fa-print"></i> <span>Print-570</span></button> <button type="button" id="btnRefresh" class="win-btn-tool is-hidden" onclick="void 0"><i class="fa fa-refresh"></i> <span>Refresh</span></button> <button type="button" id="btnShortCutKey" class="win-btn-tool" onclick="ExportBrokeryTax.shortcuts()"><i class="fa fa-keyboard-o"></i> <span>ShortCut Keys</span></button>
    </div>
    <div class="exr-title">Shipment Data For Brokery Tax</div>
    <fieldset class="exr-filters"><legend>Filters</legend>
        <div class="exr-row">
            <div class="ex-field w150"><label>Date Type</label><select id="CmbDateType" class="win-combo dtcombo" data-dtcombo="single" data-dtcombo-caption="Parameters"></select></div> <div class="ex-field w150"><label>Date From</label><input type="date" id="txtdatefrom" class="win-date"/></div> <div class="ex-field w150"><label>Date To</label><input type="date" id="txtdateto" class="win-date"/></div>
            <div class="ex-field"><label>&nbsp;</label><button type="button" id="btnShow" class="exr-btn" onclick="ExportBrokeryTax.show(this)">Show</button></div>
        </div>
    </fieldset>
    <fieldset class="exr-extra is-hidden" id="groupBox2"><legend>Extra Information </legend>
        <div class="ex-field ex-inline"><label>Total Lcy Diff</label><span class="lbl-val" id="lblTotalDiffPkr">0</span></div>
        <div class="ex-field ex-inline"><label>%</label><input type="text" id="txtPercent" class="win-textbox num w60" value="" data-guard="decimal" autocomplete="off"/><span class="lbl-val" id="lblPercntPkr">0</span></div>
        <div class="ex-field ex-inline"><label>Brokery %</label><input type="text" id="txtBrokeryPrcnt" class="win-textbox num w60" value="" data-guard="decimal" autocomplete="off"/><span class="lbl-val" id="lblBrokeryPkr">0</span></div>
    </fieldset>
    <div class="pd-caption pd-caption-dark pd-history-bar"><span>Shipment Data</span>
        <span class="ex-bar-right"><button type="button" class="ex-fs-btn" data-fullscreen="grdShipmentBox" title="Fullscreen table">&#x26F6;</button><span id="gridBarMount" class="pd-gridbar-mount"></span></span></div>
    <div class="ex-grid-box" id="grdShipmentBox">
        <div class="ex-grid-scroll ex-h400">
            <table class="win-grid" id="grdShipment" data-gridbar="ShipmentdataForBrokeryTax:grdShipment" data-gridbar-mount="#gridBarMount" data-gridbar-reorder="false"><thead></thead><tbody></tbody><tfoot></tfoot></table>
        </div>
        <div class="ex-grid-empty is-hidden" id="grdShipmentEmpty">No record found.</div>
    </div>
    <div class="win-footer-strip">
        <span class="ex-footer-left" id="footerInfo"></span>
        <button type="button" class="win-btn-history" id="btnFooterHistory" onclick="ExportBrokeryTax.toggleHistory()"><i class="fa fa-history"></i> <span>History</span></button>
    </div>
</div>
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/build/js/countx_export_rpt_c.js?v=20260930c}"></script>
<script th:src="@{/build/js/countx_export_shipment_data_for_brokery_tax.js?v=20260930c}"></script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20260928a}"></script>
<script th:src="@{/build/js/countx_grid_bar.js?v=20260925a}"></script>
<script th:src="@{/build/js/countx_input_guards.js?v=20260920a}"></script>
<script src="/js/print-rpt.js?v=20261001a"></script>
</body>
</html>
