<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${moduleTitle}">Delivery Order</title>
<link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20261002gc}">
<link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20261002gc}">
<link rel="stylesheet" th:href="@{/build/css/acc_c_desktop_form.css?v=20261002gc}">
<link rel="stylesheet" th:href="@{/build/css/sale_engr.css?v=20261007e1}">
<!-- Screen 538 DeliveryOrder_Engr (Architecture.WinApp.SaleTrading.DeliveryOrder_Engr) -->
</head>
<body class="dwin">
<div th:replace="~{fragments/erp_navigation :: navigation}"></div>
<div id="pgForm" class="dpane">
  <div class="dscroll"><div class="dform" style="min-width:1215px">
<div class="dpan" id="panel1" style="position:relative;height:633px;">
  <div class="dtc" id="tabControl1" data-align="Bottom" style="width:1200px;height:633px;">
    <div class="dsubtabs"><span class="tab on" data-tab="tabPage1">Form</span><span class="tab" data-tab="tabPage2">History</span></div>
    <div class="tpane" id="tabPage1" style="position:relative;height:604px">
      <div class="dpan" id="panel2" style="position:relative;height:25px;">
        <div class="dts" id="toolStrip1">
          <button type="button" class="tsi" id="btnnew"><i class="fa fa-plus-circle g"></i>New</button>
          <button type="button" class="tsi" id="btnRefresh"><i class="fa fa-refresh g"></i>Refresh</button>
          <button type="button" class="tsi" id="btnupdate" style="display:none"><i class="fa fa-pencil o"></i>Update</button>
          <button type="button" class="tsi" id="btnSaveAs" style="display:none"><i class="fa fa-floppy-o b"></i>SaveAs</button>
          <button type="button" class="tsi" id="btnsave"><i class="fa fa-floppy-o b"></i>Save</button>
          <button type="button" class="tsi" id="btnattachment"><i class="fa fa-paperclip k"></i>Attachment</button>
          <button type="button" class="tsi" id="btnDelete"><i class="fa fa-trash k"></i>Delete</button>
          <button type="button" class="tsi" id="btnprint"><i class="fa fa-print k"></i>1606-Print</button>
          <button type="button" class="tsi" id="btnLoadSaleOrder">LoadSaleOrderMainDetail</button>
          <button type="button" class="tsi" id="btnLoaderView2">LoadSaleOrderMain</button>
        </div>
      </div>
      <div class="dbar" id="panel3" style="position:relative;height:32px;">
        <span class="dl white" id="label23" style="left:8px;top:6px;">Delivery Order / Delivery Instructions Note</span>
        <label class="dck" style="left:1038px;top:6px;"><input type="checkbox" id="ChkPrint">Preview On Save</label>
      </div>
      <div class="dpan" id="panel4" style="position:relative;height:289px;">
        <div class="dgb" id="groupBox1" style="position:absolute;left:6px;top:2px;width:1009px;height:155px;">
          <span class="gbcap">Main</span>
          <button type="button" class="dbtn" id="RequestedApprovedLookup" style="left:971px;top:15px;width:32px;height:27px;"></button>
          <select class="f" id="CmbOrderNo" style="left:413px;top:15px;width:215px;height:26px;"></select>
          <select class="f" id="CmbRequestedBy" style="left:715px;top:15px;width:253px;height:26px;"></select>
          <input class="f" id="txtdocno" readonly value="" style="left:108px;top:17px;width:95px;height:23px;">
          <input class="f" type="date" id="DocDate" style="left:204px;top:17px;width:130px;height:23px;">
          <span class="dl" id="label9" style="left:340px;top:21px;">OrderNo</span>
          <span class="dl" id="label1" style="left:634px;top:21px;">Requested By</span>
          <span class="dl" id="label5" style="left:5px;top:21px;">Doc No &amp; Data</span>
          <select class="f" id="CmbDeliveryType" style="left:108px;top:43px;width:226px;height:26px;"></select>
          <select class="f" id="CmbApprovedBy" style="left:715px;top:43px;width:253px;height:26px;"></select>
          <select class="f" id="cmbvehicletype" style="left:413px;top:43px;width:215px;height:26px;"></select>
          <span class="dl" id="label11" style="left:5px;top:49px;">Delivery Type</span>
          <span class="dl" id="label6" style="left:634px;top:49px;">Approved By</span>
          <span class="dl" id="label14" style="left:340px;top:49px;">Vehicle Type</span>
          <select class="f" id="CmbSupplierCustomer" style="left:108px;top:71px;width:226px;height:26px;"></select>
          <input class="f" id="txtVehicleNo" value="" style="left:413px;top:73px;width:215px;height:23px;">
          <span class="dl" id="label2" style="left:5px;top:77px;">Customer</span>
          <span class="dl" id="label12" style="left:340px;top:77px;">Vehicle No</span>
          <input class="f" id="txtremarks" value="" style="left:108px;top:100px;width:895px;height:23px;">
          <span class="dl" id="label18" style="left:5px;top:104px;">Remarks</span>
          <input class="f" id="txtAccountRemarks" value="" style="left:108px;top:125px;width:895px;height:23px;">
          <span class="dl" id="label4" style="left:5px;top:129px;">Account Remarks</span>
        </div>
        <input class="f" id="txtSubNoId" readonly value="" style="left:1196px;top:10px;width:39px;height:25px;" hidden>
        <input class="f" id="txtDocNoId" readonly value="" style="left:1196px;top:41px;width:39px;height:25px;" hidden>
        <input class="f" id="txtRefDocTypeId" readonly value="" style="left:1196px;top:72px;width:39px;height:25px;" hidden>
        <div class="dgb" id="groupBox3" style="position:absolute;left:5px;top:159px;width:1010px;height:121px;">
          <span class="gbcap">Detail</span>
          <label class="dck" style="left:284px;top:18px;"><input type="radio" id="rdbtnItemCode" name="groupBox3">Code</label>
          <label class="dck" style="left:223px;top:18px;"><input type="radio" id="rdbtnItemName" name="groupBox3" checked>Name</label>
          <span class="dl" id="label52" style="left:393px;top:20px;">Item Description</span>
          <span class="dl" id="lblBalance" style="left:359px;top:20px;">0</span>
          <span class="dl" id="label47" style="left:654px;top:20px;">Specification / Remarks</span>
          <span class="dl" id="labelWarFrom" style="left:6px;top:20px;">WareHouse</span>
          <span class="dl" id="label37" style="left:187px;top:20px;">Item</span>
          <input class="f" id="txtItemDescriptions" value="" style="left:389px;top:41px;width:262px;height:23px;">
          <input class="f" id="txtremarksdetail" value="" style="left:654px;top:41px;width:352px;height:23px;">
          <select class="f" id="CmbWareHouse" style="left:6px;top:41px;width:177px;height:26px;"></select>
          <select class="f" id="CmbItemName" style="left:186px;top:41px;width:200px;height:26px;"></select>
          <span class="dl" id="labelWarTo" style="left:654px;top:69px;">Warehouse To</span>
          <span class="dl" id="label17" style="left:390px;top:71px;">Product/Machine/Asset Name</span>
          <span class="dl" id="label8" style="left:6px;top:71px;">JobLot</span>
          <span class="dl" id="label36" style="left:186px;top:71px;">UOM</span>
          <span class="dl" id="label38" style="left:308px;top:71px;">Qty</span>
          <select class="f" id="CmbWareHouseTo" style="left:654px;top:88px;width:206px;height:26px;"></select>
          <select class="f" id="CmbAssetName" style="left:389px;top:89px;width:262px;height:26px;"></select>
          <select class="f" id="CmbJobLot" style="left:6px;top:89px;width:177px;height:26px;"></select>
          <select class="f" id="CmbPackUom" style="left:186px;top:89px;width:116px;height:26px;"></select>
          <button type="button" class="dbtn" id="btnCancelUpdateDetial" style="left:942px;top:90px;width:62px;height:25px;" hidden>Cancel</button>
          <button type="button" class="dbtn" id="btnplus" style="left:866px;top:90px;width:36px;height:25px;">+</button>
          <button type="button" class="dbtn" id="btnUpdateDetail" style="left:870px;top:90px;width:69px;height:25px;" hidden>Update</button>
          <input class="f" id="txtqty" value="" style="left:305px;top:91px;width:82px;height:23px;">
        </div>
      </div>
      <div class="dpan" id="DetailGridPanel" style="position:relative;height:254px;">
        <div class="dbar" id="panel5" style="position:relative;height:28px;">
          <span class="dl white" id="label15" style="left:4px;top:4px;">Detail</span>
        </div>
        <div class="dgrid" id="grd" tabindex="0" style="width:1188px;height:226px;"></div>
      </div>
    </div>
    <div class="tpane" id="tabPage2" style="position:relative;display:none;height:604px">
      <div class="dpan" id="panel7" style="position:relative;height:600px;">
        <div class="dpan" id="panel9" style="position:relative;height:600px;">
          <div class="dpan" id="panel12" style="position:relative;height:600px;">
            <div class="dts" id="toolStrip2">
              <button type="button" class="tsi" id="btnNewHistory">Reset</button>
              <button type="button" class="tsi" id="btnRefreshHistory"><i class="fa fa-refresh g"></i>Refresh</button>
              <button type="button" class="tsi" id="btnLoadAll" style="display:none">LoadAll</button>
            </div>
            <div class="dbar" id="panel8" style="position:relative;height:28px;">
              <span class="dl white" id="label16" style="left:4px;top:4px;">Delivery Order History</span>
            </div>
            <div class="dpan" id="panel16" style="position:relative;height:81px;">
              <div class="dgb" id="groupBox2" style="position:absolute;left:6px;top:2px;width:1172px;height:74px;">
                <span class="gbcap">Filters</span>
                <select class="f" id="CmbRequestedByHistory" style="left:740px;top:13px;width:180px;height:26px;"></select>
                <select class="f" id="CmbDeliveryTypeHistory" style="left:461px;top:13px;width:193px;height:26px;"></select>
                <input class="f" id="txtFromDocNoHistory" value="" style="left:294px;top:15px;width:83px;height:23px;">
                <span class="dtp" style="left:67px;top:15px;width:142px;height:23px;"><input type="checkbox" id="FromDateHistory_chk" checked><input class="f" type="date" id="FromDateHistory"></span>
                <span class="dl" id="label21" style="left:657px;top:19px;">Requested By</span>
                <span class="dl" id="label7" style="left:381px;top:19px;">Delivery Type</span>
                <span class="dl" id="label13" style="left:214px;top:19px;">From Doc No</span>
                <span class="dl" id="label20" style="left:4px;top:19px;">From Date</span>
                <label class="dck" style="left:1069px;top:26px;"><input type="radio" id="rdmodifydate" name="groupBox2">Modify Date</label>
                <label class="dck" style="left:988px;top:26px;"><input type="radio" id="drdocdate" name="groupBox2" checked>Doc Date</label>
                <select class="f" id="CmbApprovedByHistory" style="left:740px;top:42px;width:180px;height:26px;"></select>
                <select class="f" id="CmbCustomerHistory" style="left:461px;top:42px;width:193px;height:26px;"></select>
                <button type="button" class="dbtn" id="btnShowHistory" style="left:923px;top:42px;width:58px;height:26px;">Show</button>
                <input class="f" id="txtToDocNoHistory" value="" style="left:294px;top:44px;width:83px;height:23px;">
                <span class="dtp" style="left:67px;top:44px;width:142px;height:23px;"><input type="checkbox" id="ToDateHistory_chk" checked><input class="f" type="date" id="ToDateHistory"></span>
                <span class="dl" id="label22" style="left:657px;top:48px;">Approved By</span>
                <span class="dl" id="label24" style="left:381px;top:48px;">Customer</span>
                <span class="dl" id="label19" style="left:214px;top:48px;">To Doc No</span>
                <span class="dl" id="label10" style="left:4px;top:48px;">To Date</span>
                <label class="dck" style="left:1069px;top:49px;"><input type="radio" id="rdapproveddate" name="groupBox2">Approved Date</label>
                <label class="dck" style="left:988px;top:49px;"><input type="radio" id="rdentrydate" name="groupBox2">Entry Date</label>
              </div>
            </div>
            <div class="dpan" id="panel10" style="position:relative;height:281px;">
              <div class="dgrid" id="grdhistory" tabindex="0" style="width:1188px;height:281px;"></div>
            </div>
            <div class="dpan" id="panel6" style="position:relative;height:183px;">
              <div class="dbar" id="panel11" style="position:relative;height:23px;">
                <span class="dl white" id="label27" style="left:2px;top:3px;">Detail Of Above Selected Row</span>
              </div>
              <div class="dpan" id="panel13" style="position:relative;height:160px;">
                <div class="dgrid" id="GrdHistoryDetail" tabindex="0" style="width:1188px;height:160px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div></div>
</div>
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20261002gc}"></script>
<script th:src="@{/build/js/acc_c_xcombo.js?v=20261002gc}"></script>
<script th:src="@{/build/js/sale_engr.js?v=20261007e1}"></script>
<script th:src="@{/build/js/sale_delivery_order_engr.js?v=20261007e1}"></script>
<script src="/js/print-rpt.js?v=20261003erp"></script>
</body>
</html>
