<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${moduleTitle}">Sale Invoice Return</title>
<link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20261002gc}">
<link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20261002gc}">
<link rel="stylesheet" th:href="@{/build/css/acc_c_desktop_form.css?v=20261002gc}">
<link rel="stylesheet" th:href="@{/build/css/sale_engr.css?v=20261007e1}">
<!-- Sale Invoice Return (537, doc 1611) -->
</head>
<body class="dwin">
<div th:replace="~{fragments/erp_navigation :: navigation}"></div>
<div id="pgForm" class="dpane">
  <div class="dscroll"><div class="dform" style="min-width:1160px">
<div class="dpan" id="panel1" style="position:relative;height:669px;">
  <div class="dtc" id="tabControl1" data-align="Bottom" style="width:1136px;height:669px;">
    <div class="dsubtabs"><span class="tab on" data-tab="tabForm">Form</span><span class="tab" data-tab="tabHistory">History</span></div>
    <div class="tpane" id="tabForm" style="position:relative;height:640px">
      <div class="dpan" id="panel2" style="position:relative;height:28px;">
        <div class="dts" id="toolStrip1">
          <button type="button" class="tsi" id="btnNew"><i class="fa fa-plus-circle g"></i>New</button>
          <button type="button" class="tsi" id="btnUpdate"><i class="fa fa-pencil o"></i>Update</button>
          <button type="button" class="tsi" id="btnSave"><i class="fa fa-floppy-o b"></i>Save</button>
          <button type="button" class="tsi" id="btnAttachment"><i class="fa fa-paperclip k"></i>Attachment</button>
          <button type="button" class="tsi" id="btnDelete" style="display:none"><i class="fa fa-trash k"></i>Delete</button>
          <button type="button" class="tsi" id="btnFrmRefresh"><i class="fa fa-refresh g"></i>Refresh</button>
          <button type="button" class="tsi" id="btnPrint">103-Voucher</button>
          <button type="button" class="tsi" id="btnSaleInvoice1">1611-SaleReturn</button>
          <button type="button" class="tsi" id="btnSaleinvoice2">1611A-SaleReturn</button>
          <button type="button" class="tsi" id="BtnShortCutkeys">ShortCut Keys</button>
        </div>
      </div>
      <div class="dpan" id="panel3" style="position:relative;height:31px;">
        <div class="dbar" id="panelpurinv" style="position:relative;height:31px;">
          <span class="dl white" id="label23" style="left:9px;top:5px;">SALE INVOICE RETURN</span>
        </div>
      </div>
      <div class="dpan" id="panel4" style="position:relative;height:134px;">
        <div class="dpan" id="MainPanel" style="position:relative;height:136px;">
          <div class="dgb" id="groupBox1" style="position:absolute;left:4px;top:1px;width:1115px;height:129px;">
            <span class="gbcap">Main</span>
            <select class="f" id="cmbbranch" style="left:106px;top:14px;width:209px;height:26px;"></select>
            <input class="f" id="txtRefrenceNo" value="" style="left:405px;top:16px;width:110px;height:23px;">
            <input class="f" type="date" id="DueDate" style="left:609px;top:16px;width:149px;height:23px;">
            <span class="dl" id="label4" style="left:765px;top:16px;">Remarks</span>
            <span class="dl" id="label24" style="left:521px;top:20px;">Due Date</span>
            <span class="dl" id="label28" style="left:318px;top:20px;">Refrence #</span>
            <span class="dl" id="label13" style="left:9px;top:20px;">Branch Name</span>
            <textarea class="f" id="txtRemarks" style="left:765px;top:42px;width:332px;height:52px;"></textarea>
            <select class="f" id="CmbDeliveryTerm" style="left:609px;top:42px;width:149px;height:26px;"></select>
            <select class="f" id="cmbproject" style="left:106px;top:42px;width:209px;height:26px;"></select>
            <input class="f" id="txtbillno" value="" style="left:405px;top:44px;width:110px;height:23px;">
            <span class="dl" id="label5" style="left:521px;top:48px;">Delivery Term</span>
            <span class="dl" id="label18" style="left:9px;top:48px;">Project Name</span>
            <span class="dl" id="label6" style="left:318px;top:48px;">Manual Bill #</span>
            <select class="f" id="CmbPaymentTerm" style="left:405px;top:68px;width:110px;height:26px;"></select>
            <input class="f" type="date" id="DocDate" style="left:187px;top:70px;width:128px;height:23px;">
            <input class="f" id="txtdocno" readonly value="" style="left:106px;top:70px;width:79px;height:23px;">
            <input class="f" id="txtBillAmount" readonly value="" style="left:609px;top:70px;width:149px;height:23px;">
            <span class="dl" id="label1" style="left:318px;top:74px;">Payment Term</span>
            <span class="dl" id="label17" style="left:9px;top:74px;">Doc No &amp; Date</span>
            <span class="dl" id="label3" style="left:521px;top:74px;">Bill Amount</span>
            <select class="f" id="CmbTaxAccount" style="left:609px;top:95px;width:149px;height:26px;"></select>
            <input class="f" id="txtDueDays" value="" style="left:405px;top:96px;width:110px;height:23px;">
            <select class="f" id="cmbsuppliername" style="left:106px;top:96px;width:209px;height:26px;"></select>
            <label class="dck" style="left:865px;top:100px;"><input type="checkbox" id="ChkVoucherPreview">Voucher Preview</label>
            <span class="dl" id="label12" style="left:520px;top:100px;">Tax Account</span>
            <label class="dck" style="left:766px;top:100px;"><input type="checkbox" id="ChkBok">Print Preview</label>
            <span class="dl" id="label22" style="left:318px;top:100px;">Due Days </span>
            <span class="dl" id="label7" style="left:9px;top:100px;">Customer Name</span>
          </div>
          <div class="dgrid" id="grdInvExp" tabindex="0" style="left:1202px;top:3px;width:149px;height:57px;" hidden></div>
          <input class="f" id="txtcommremarks" value="" style="left:1430px;top:17px;width:77px;height:21px;" hidden>
          <span class="dl" id="label25" style="left:1367px;top:21px;" hidden>Remarks</span>
          <select class="f" id="cmbcommagent" style="left:1459px;top:44px;width:48px;height:24px;" hidden></select>
          <span class="dl" id="label20" style="left:1379px;top:48px;" hidden>Comm Agent</span>
          <textarea class="f" id="txtCommAgentId" style="left:1202px;top:65px;width:44px;height:26px;" hidden></textarea>
          <select class="f" id="cmbrefprty" style="left:1325px;top:69px;width:47px;height:24px;" hidden></select>
          <span class="dl" id="label2" style="left:1253px;top:72px;" hidden>Ref Party</span>
          <input class="f" id="txtcommrate" value="" style="left:1459px;top:72px;width:48px;height:22px;" hidden>
          <span class="dl" id="label21" style="left:1379px;top:75px;" hidden>Comm Rate</span>
          <textarea class="f" id="txtSupplierGLId" style="left:1202px;top:94px;width:44px;height:26px;" hidden></textarea>
          <select class="f" id="cmbstockprty" style="left:1325px;top:96px;width:47px;height:24px;" hidden></select>
          <span class="dl" id="label8" style="left:1253px;top:98px;" hidden>Stock Party</span>
          <input class="f" id="txtcommamount" readonly value="" style="left:1459px;top:99px;width:48px;height:22px;" hidden>
          <span class="dl" id="label26" style="left:1379px;top:101px;" hidden>Amount</span>
          <select class="f" id="cmbcommtype" style="left:1295px;top:124px;width:77px;height:23px;" hidden><option>Flat</option><option>Percentage</option><option>Comm Weight</option></select>
          <select class="f" id="cmbcommuom" style="left:1458px;top:127px;width:49px;height:23px;" hidden><option>1</option><option>5</option><option>25</option><option>40</option><option>50</option><option>60</option><option>100</option></select>
          <span class="dl" id="label11" style="left:1203px;top:127px;" hidden>Comm Type</span>
          <span class="dl" id="label19" style="left:1378px;top:131px;" hidden>Comm UOM</span>
        </div>
      </div>
      <div class="dpan" id="panel5" style="position:relative;height:441px;">
        <div class="dpan" id="DetailPanel" style="position:relative;height:128px;">
          <div class="dgb" id="groupBox2" style="position:absolute;left:4px;top:3px;width:1114px;height:122px;">
            <span class="gbcap">Detail</span>
            <span class="dl" id="label42" style="left:919px;top:19px;">Item Rate</span>
            <span class="dl" id="label39" style="left:672px;top:19px;">Gross Weight</span>
            <span class="dl" id="label38" style="left:588px;top:19px;">Item Qty</span>
            <span class="dl" id="label36" style="left:822px;top:19px;">Net Bill Weight</span>
            <span class="dl" id="label32" style="left:167px;top:19px;">Item Name</span>
            <span class="dl" id="label33" style="left:389px;top:19px;">Job Lot</span>
            <span class="dl" id="label31" style="left:10px;top:19px;">WareHouse</span>
            <span class="dl" id="label30" style="left:761px;top:19px;">Add/Less</span>
            <span class="dl" id="label10" style="left:520px;top:19px;">Pack UOM</span>
            <span class="dl" id="label14" style="left:1010px;top:19px;">Rate UOM</span>
            <select class="f" id="CmbWarehouse" style="left:9px;top:38px;width:160px;height:26px;"></select>
            <select class="f" id="CmbRateUom" style="left:1009px;top:38px;width:87px;height:26px;"></select>
            <select class="f" id="CmbPackUom" style="left:521px;top:38px;width:68px;height:26px;"></select>
            <select class="f" id="CmbJobLot" style="left:389px;top:38px;width:131px;height:26px;"></select>
            <select class="f" id="CmbItem" style="left:170px;top:38px;width:218px;height:26px;"></select>
            <input class="f" id="txtRate" value="" style="left:919px;top:40px;width:88px;height:23px;">
            <input class="f" id="txtGrossWeight" value="" style="left:672px;top:40px;width:85px;height:23px;">
            <input class="f" id="txtItemQty" value="" style="left:590px;top:40px;width:81px;height:23px;">
            <input class="f" id="txtNetBillWeight" readonly value="" style="left:823px;top:40px;width:95px;height:23px;">
            <input class="f" id="txtAddLss" value="" style="left:759px;top:40px;width:62px;height:23px;">
            <span class="dl" id="lblTotalAmount" style="left:838px;top:68px;">Total Amount</span>
            <span class="dl" id="lblTaxPercent" style="left:696px;top:68px;">Tax %</span>
            <span class="dl" id="lblTaxTypes" style="left:612px;top:68px;">Tax Type</span>
            <span class="dl" id="lblTaxAmount" style="left:756px;top:68px;">Tax Amount</span>
            <span class="dl" id="label53" style="left:260px;top:68px;">City Name</span>
            <span class="dl" id="label50" style="left:65px;top:68px;">Rate Cut Total</span>
            <span class="dl" id="label49" style="left:8px;top:68px;">Rate Cut</span>
            <span class="dl" id="label48" style="left:531px;top:68px;">Vehicle No</span>
            <span class="dl" id="label47" style="left:472px;top:68px;">GP #</span>
            <span class="dl" id="label35" style="left:372px;top:68px;">GP Date</span>
            <span class="dl" id="label15" style="left:152px;top:68px;">Item Amount</span>
            <select class="f" id="CmbTaxType" style="left:610px;top:87px;width:82px;height:26px;"></select>
            <select class="f" id="CmbCity" style="left:256px;top:87px;width:115px;height:26px;"></select>
            <button type="button" class="dbtn" id="btnCancelUpdateDetial" style="left:1034px;top:88px;width:62px;height:25px;">Cancel</button>
            <button type="button" class="dbtn" id="btnUpdateDetail" style="left:969px;top:88px;width:71px;height:25px;">Update</button>
            <button type="button" class="dbtn" id="btnAdd" style="left:942px;top:88px;width:29px;height:25px;">+</button>
            <input class="f" id="txtTaxPercent" value="" style="left:694px;top:89px;width:62px;height:23px;">
            <input class="f" id="txtTotalAmount" readonly value="0" style="left:841px;top:89px;width:100px;height:23px;">
            <input class="f" id="txtTaxAmount" readonly value="0" style="left:758px;top:89px;width:82px;height:23px;">
            <input class="f" id="txtgatepassno" value="" style="left:469px;top:89px;width:60px;height:23px;">
            <input class="f" id="txtratecuttotal" value="" style="left:67px;top:89px;width:81px;height:23px;">
            <input class="f" id="txtratecut" value="" style="left:9px;top:89px;width:57px;height:23px;">
            <input class="f" id="txtvehicleno" value="" style="left:530px;top:89px;width:79px;height:23px;">
            <input class="f" type="date" id="txtgpdate" style="left:373px;top:89px;width:95px;height:23px;">
            <input class="f" id="txtAmount" readonly value="" style="left:150px;top:89px;width:104px;height:23px;">
          </div>
        </div>
        <div class="dpan" id="panel13" style="position:relative;height:148px;">
          <div class="dpan" id="panel16" style="position:relative;height:148px;">
            <span class="dl white" id="label16" style="left:0px;top:0px;">Freight_Charge To Product</span>
            <div class="dpan" id="panel17" style="position:relative;height:128px;">
              <div class="dgrid" id="grdFreight" tabindex="0" style="width:550px;height:128px;"></div>
            </div>
          </div>
          <div class="dpan" id="panel18" style="position:relative;height:148px;">
            <span class="dl white" id="label29" style="left:0px;top:0px;">Party Add/Less</span>
            <div class="dpan" id="panel19" style="position:relative;height:128px;">
              <div class="dgrid" id="grdGLedger" tabindex="0" style="width:572px;height:128px;"></div>
            </div>
          </div>
        </div>
        <div class="dpan" id="panel7" style="position:relative;height:165px;">
          <span class="dl white" id="label34" style="left:0px;top:0px;">Detail</span>
          <div class="dpan" id="panel9" style="position:relative;height:142px;">
            <div class="dgrid" id="grd" tabindex="0" style="width:1122px;height:142px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tpane" id="tabHistory" style="position:relative;display:none;height:640px">
      <div class="dpan" id="panel6" style="position:relative;height:28px;">
        <div class="dts" id="toolStrip2">
          <button type="button" class="tsi" id="btnNewHistory">Reset</button>
          <button type="button" class="tsi" id="btnLoadAll" style="display:none">LoadAll</button>
        </div>
      </div>
      <div class="dbar" id="panel14" style="position:relative;height:28px;">
        <span class="dl white" id="label9" style="left:9px;top:4px;">SALE INVOICE RETURN HISTORY</span>
      </div>
      <div class="dpan" id="panel15" style="position:relative;height:578px;">
        <div class="dpan" id="panel8" style="position:relative;height:326px;">
          <div class="dpan" id="panel11" style="position:relative;height:77px;">
            <div class="dgb" id="groupBox3" style="position:absolute;left:5px;top:4px;width:1112px;height:69px;">
              <span class="gbcap">Filters</span>
              <label class="dck" style="left:969px;top:20px;"><input type="radio" id="rdmodifydate" name="groupBox3">Modify Date</label>
              <label class="dck" style="left:888px;top:20px;"><input type="radio" id="drdocdate" name="groupBox3" checked>Doc Date</label>
              <span class="dl" id="label37" style="left:544px;top:20px;">Customer Name</span>
              <span class="dl" id="label57" style="left:443px;top:20px;">To Doc No</span>
              <span class="dl" id="label58" style="left:341px;top:20px;">From Doc No</span>
              <span class="dl" id="label59" style="left:176px;top:20px;">To Date</span>
              <span class="dl" id="label60" style="left:5px;top:20px;">From Date</span>
              <button type="button" class="dbtn" id="btnshow" style="left:787px;top:36px;width:80px;height:26px;">Show</button>
              <select class="f" id="cmbSupplierNameHistory" style="left:544px;top:36px;width:240px;height:26px;"></select>
              <input class="f" id="txtToDocNoHistory" value="" style="left:443px;top:38px;width:100px;height:23px;">
              <input class="f" id="txtFromDocNoHistory" value="" style="left:341px;top:38px;width:100px;height:23px;">
              <span class="dtp" style="left:176px;top:38px;width:161px;height:23px;"><input type="checkbox" id="ToDateHistory_chk" checked><input class="f" type="date" id="ToDateHistory"></span>
              <span class="dtp" style="left:5px;top:38px;width:167px;height:23px;"><input type="checkbox" id="FromDateHistory_chk" checked><input class="f" type="date" id="FromDateHistory"></span>
              <label class="dck" style="left:969px;top:42px;"><input type="radio" id="rdapproveddate" name="groupBox3">Approved Date</label>
              <label class="dck" style="left:888px;top:42px;"><input type="radio" id="rdentrydate" name="groupBox3">Entry Date</label>
            </div>
          </div>
          <div class="dpan" id="panel12" style="position:relative;height:249px;">
            <div class="dgrid" id="grdHistory" tabindex="0" style="width:1122px;height:249px;"></div>
          </div>
        </div>
        <div class="dbar" id="panel10" style="position:relative;height:27px;">
          <span class="dl white" id="label27" style="left:9px;top:3px;">Detail Of Selected Above row</span>
        </div>
        <div class="dgrid" id="grdDetail" tabindex="0" style="width:1122px;height:225px;"></div>
      </div>
    </div>
  </div>
</div>

  </div></div>
</div>
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20261002gc}"></script>
<script th:src="@{/build/js/acc_c_xcombo.js?v=20261002gc}"></script>
<script th:src="@{/build/js/sale_engr.js?v=20261007e1}"></script>
<script th:src="@{/build/js/sale_sale_invoice_return_engr.js?v=20261007e1}"></script>
<script src="/js/print-rpt.js?v=20261003erp"></script>
</body>
</html>
