<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <style type="text/css">
        body {
            color: #73879C;
            background: #2A3F54;
            font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
        }

        table {
            border: 1px solid #73879C;
            border-collapse: collapse;
        }

        table th, td {
            border: 1px solid #73879C;
            border-collapse: collapse;
        }
    </style>
</head>

<body class="nav-sm" style="background-color:white;">
<div class="container body">
    <div class="main_container">

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-06 col-sm-06 col-xs-06">


                        <div class="x_panel" style="margin-bottom: 0px;">
                            <div class="x_content">
                                <br>
                                <div class="row invoice-header">
                                    <table style="align: center; margin: 0 auto;">

                                        <tr>
                                            <td width="50%"><strong
                                                    th:text="'FINANCIAL YEAR:&emsp;' "></strong></td>
                                            <td width="50%"><strong
                                                    th:text="'VOUCHER DATE:&emsp;' + ${#dates.format(voucher.voucherDate, 'dd-MM-yyyy')}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%"><strong
                                                    th:text="'VOUCHER NO.:&emsp;' + ${voucher.voucherCode}"></strong>
                                            </td>
                                            <td width="50%"><strong
                                                    th:text="'POST STATUS:&emsp;' + ${voucher.posted}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%"><strong
                                                    th:text="'CREATED BY:&emsp;' + ${voucher.createdBy}"></strong>
                                            </td>
                                            <td width="50%"><strong
                                                    th:text="'CREATED AT:&emsp;' + ${#dates.format(voucher.createdAt, 'dd-MM-yyyy hh:mm:ss a')}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%"><strong
                                                    th:text="'UPDATED BY:&emsp;' + ${voucher.modifiedBy}"></strong>
                                            </td>
                                            <td width="50%"><strong
                                                    th:text="'UPDATED AT:&emsp;' + ${#dates.format(voucher.modifiedAt, 'dd-MM-yyyy hh:mm:ss a')}"></strong>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="x_panel" style="margin-bottom: 0px;">
                            <div class="x_content">
                                <br>
                                <div class="row invoice-header">
                                    <table style="align: center; margin: 0 auto; ">

                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'VOUCHER NO:    &emsp;'+${voucher.voucherCode}"></strong>
                                            </td>
                                            <td width="20%"></td>
                                            <td width="40%"><strong
                                                    th:text="'PARTY ACCOUNT:   &emsp;'+${voucher.itemStock.account.accountName}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'UNIT NO:   &emsp;'+${voucher.itemStock.branch.name}"></strong>
                                            </td>
                                            <td width="20%"></td>
                                            <td width="40%"><strong
                                                    th:text="'PROMISE DATE:   &emsp;'+${voucher.itemStock.invoiceDueDate}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'VEHICALE NO:  &emsp;'+ ${voucher.vehicalNumber}"></strong>
                                            </td>
                                            <td width="20%"></td>
                                            <td width="40%"><strong
                                                    th:text="'SALE RATE: &emsp;'+${voucher.itemStock.itemStockEntries[__${0}__].price}"></strong>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'PRODUCT NAME:  &emsp;'+ ${voucher.bookNumber}"></strong>
                                            </td>
                                            <td width="20%"><strong
                                                    th:text="'MILL TAX RATE: &emsp;'+${voucher.itemStock.millTaxRate}"></strong>
                                            </td>
                                            <td width="40%"><strong
                                                    th:text="'AMOUNT : &emsp;'+${voucher.itemStock.millTaxAmount}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'BOOK NUMBER:  &emsp;'+ ${voucher.bookNumber}"></strong>
                                            </td>
                                            <td width="20%"><strong
                                                    th:text="'BANK TAX RATE: &emsp;'+${voucher.itemStock.bankTaxRate}"></strong>
                                            </td>
                                            <td width="40%"><strong
                                                    th:text="'AMOUNT : &emsp;'+${voucher.itemStock.bankTaxAmount}"></strong>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'BAGS:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].bags}"></strong>
                                            </td>
                                            <td width="20%"><strong
                                                    th:text="'SAILI TAX RATE: &emsp;'+${voucher.itemStock.silaiRate}"></strong>
                                            </td>
                                            <td width="40%"><strong
                                                    th:text="'AMOUNT : &emsp;'+${voucher.itemStock.silaiAmount}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'GROSS WT:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].totalKg}"></strong>
                                            </td>
                                            <td width="20%"><strong
                                                    th:text="'BARDANA RATE: &emsp;'+${voucher.itemStock.bardanaRate}"></strong>
                                            </td>
                                            <td width="40%"><strong
                                                    th:text="'AMOUNT : &emsp;'+${voucher.itemStock.bardanaAmount}"></strong>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'BAG WT :  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].bagWeightDeduction}+'&emsp;'+' '+'TOTAL:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].totalBagWeightDeduction}"></strong>
                                            </td>
                                            <td width="20%"><strong
                                                    th:text="'LABOUR RATE: &emsp;'+${voucher.itemStock.unloadingRate}"></strong>
                                            </td>
                                            <td width="40%"><strong
                                                    th:text="'AMOUNT : &emsp;'+${voucher.itemStock.unloadingCharges}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'DEDUCTION:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].katoti}+'&emsp;'+' '+'TOTAL:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].totalKatoti}"></strong>
                                            </td>
                                            <td width="20%"></td>
                                            <td width="40%"><strong
                                                    th:text="'OTHER EXPANCES : &emsp;'+${voucher.itemStock.otherExp}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'SafiKg:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].safiKg}+'&emsp;'+' '+'SAFI BAG WT :  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].manWithKg}"></strong>
                                            </td>
                                            <td width="20%"></td>
                                            <td width="40%"><strong
                                                    th:text="'CARRIAGE: &emsp;'+${voucher.itemStock.freightCharges}"></strong>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="40%"><strong
                                                    th:text="'WT/BAG:  &emsp;'+ ${voucher.itemStock.itemStockEntries[__${0}__].otherBagWeight}"></strong>
                                            </td>
                                            <td width="20%"></td>
                                            <td width="40%"><strong
                                                    th:text="'NET PURCHASE: &emsp;'+${voucher.itemStock.netAmount}"></strong>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel" style="margin-bottom: 0px;">
                            <div class="x_content">
                                <br>
                                <div class="row invoice-header">
                                    <table style="align: center; margin: 0 auto;">
                                        <tr>
                                            <td width="50%"><strong
                                                    th:text="'BROKER NAME :&emsp;'"></strong></td>
                                            <td width="50%"><strong
                                                    th:text="${voucher.voucherEntries[__${9}__].account.accountName}"></strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%"><strong th:text="'Brokeri Rate.:&emsp;' "></strong></td>
                                            <td width="50%"><strong
                                                    th:text="${voucher.itemStock.brokriRate}"></strong></td>
                                        </tr>
                                        <tr>
                                            <td width="50%"><strong
                                                    th:text="'AMOUNT:&emsp;' "></strong></td>
                                            <td width="50%"><strong
                                                    th:text="${voucher.itemStock.brokriAmount}"></strong></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>
        <!-- /page content -->
    </div>
</div>

</body>
</html>
