<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${adjTitle}">Payment Adjustment Voucher</title>
    <!--
      Screens 861 frmInvoicesAdjustmentVoucher ("payment") and 863 frmReceiptInvoicesAdjustmentVoucher ("receipt").
      R3 2026-10-02: laid out at the InitializeComponent() geometry. tabControl1 (Alignment Bottom) -> tabPage1 "Form"
      1088 x 582 (863: 1093): panel1 White Fill -> toolStrip1 25, panel3 99 (panel11 Teal 28 + groupBox2 "Main" 69),
      tabControl2 340 (tabPage3 "Detail": panel16 Teal 21 + grd Fill 284), panel6 Teal 24, grdPendingVouchers Fill.
      tabPage2 "History": panel2 27 (toolStrip2), panel9 Teal 27, panel5 73 (groupBox4 "Filters" 966 x 69 at 1,2),
      panel7 Teal 27, grdHistory Fill.
      Coordinates are frmInvoicesAdjustmentVoucher; data-r="left,top,width,height" is the frmReceiptInvoicesAdjustmentVoucher
      value where it differs. Every combo is countx_prod_combo.
    -->
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20261002ge}">
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20261002ge}">
    <link rel="stylesheet" th:href="@{/build/css/countx_acc_desk_e.css?v=20261002ge}">
    <style>
        #groupBox2 .cap, #groupBox4 .cap { background: #fff; }
        .dk-grid.adj table.g td input.cell { min-width: 70px; }
    </style>
    <link rel="stylesheet" th:href="@{/build/css/countx_grid_bar.css?v=20261005a}"/>
</head>
<body class="dk" th:attr="data-kind=${adjKind},data-slip=${adjSlipName}">
<div th:replace="~{fragments/erp_navigation :: navigation}"></div>
<div class="dk-scroll" id="dkScroll"><div class="dk-root" id="dkRoot" style="min-width:1088px">

<!-- ====================================================== tabPage1 "Form" (panel1, BackColor White, Dock Fill) -->
<div class="dk-page" id="pageForm">
    <!-- toolStrip1 25 high; designer order with its separators -->
    <div class="dk-ts h25" id="toolStrip1">
        <button type="button" id="btnNew" onclick="ADJ.newClick()"><i class="fa fa-plus-circle g"></i>New</button>
        <button type="button" id="btnRefresh" onclick="ADJ.refreshClick()"><i class="fa fa-refresh b"></i>Refresh</button>
        <span class="sep"></span>
        <button type="button" id="btnSave" onclick="ADJ.save(false)"><i class="fa fa-floppy-o b"></i>Save</button>
        <button type="button" id="btnUpdate" hidden onclick="ADJ.save(true)"><i class="fa fa-pencil o"></i>Update</button>
        <button type="button" id="btnDelete" hidden onclick="ADJ.del()"><i class="fa fa-trash r"></i>Delete</button>
        <span class="sep"></span>
        <span class="sep"></span>
        <button type="button" id="btnSlip" onclick="ADJ.slipClick()" th:attr="data-rpt=${adjSlipName + '.rpt'}" data-rpt-own="1"><i class="fa fa-print k"></i><span th:text="${adjSlipCaption}">901-Print</span></button>
        <button type="button" id="btnshortcutkeys" onclick="ADJ.shortcuts()"><i class="fa fa-keyboard-o k"></i>ShortCut Keys</button>
        <span class="sep"></span>
    </div>

    <!-- panel3 99: panel11 Teal 28 + groupBox2 "Main" Dock Top 69 -->
    <div class="dk-box" id="panel3" style="height:99px">
        <div class="dk-teal" id="panel11" style="height:28px">
            <span class="t16" id="label17" style="left:4px;top:4px" th:text="${adjTitle}">Payment Adjustment Voucher</span>
            <button type="button" class="dk-cyanbtn" id="BtnAutoUtilizedAllRowsOfPendingGrid" style="right:94px;top:1px;width:242px;height:26px" onclick="ADJ.autoAllClick()">Auto Utilize All Pending Vouchers</button>
            <label class="w" style="right:2px;top:4px;height:20px;font:bold 13px 'Microsoft Sans Serif',Arial,'Liberation Sans',sans-serif"><input type="checkbox" id="ChkPrintslip"> Print Slip</label>
        </div>
        <div class="dk-gb" id="groupBox2" style="left:0;top:28px;right:0;height:69px"><span class="cap">Main</span>
            <span class="l" id="label7" style="left:5px;top:19px">Voucher No,Date</span>
            <select id="CmbVoucher" class="dtcombo" data-dtcombo="single" data-dtcombo-caption="VoucherNo" style="left:104px;top:13px;width:116px;height:26px" onchange="ADJ.voucherLeave()"></select>
            <input class="x d" type="date" id="txtVoucherDate" disabled style="left:221px;top:15px;width:108px">
            <span class="l" id="label9" style="left:333px;top:19px">Payment Type</span>
            <select id="CmbPaymentType" class="dtcombo" data-dtcombo="single" data-dtcombo-caption="PaymentType" style="left:416px;top:13px;width:259px;height:26px"></select>
            <span class="l" id="label62" style="left:681px;top:15px;line-height:15px" data-r="681,14">Party City /<br>Cell</span>
            <input class="x" type="text" id="txtPartyCity" disabled style="left:754px;top:15px;width:124px" data-r="760,15,111">
            <input class="x" type="text" id="txtPartyCellNo" disabled style="left:880px;top:15px;width:133px" data-r="873,15,146">
            <span class="l" id="label5" style="left:5px;top:46px">Voucher Amount</span>
            <input class="x r ms" type="text" id="txtVoucherAmountRegular" disabled style="left:104px;top:42px;width:225px;font-size:12px">
            <span class="l" id="label4" style="left:333px;top:46px">Party Name</span>
            <select id="CmbSupplier" class="dtcombo" data-dtcombo="single" data-dtcombo-caption="Party Name" style="left:416px;top:40px;width:259px;height:26px" onchange="ADJ.supplierLeave()"></select>
            <span class="l" id="label13" style="left:681px;top:46px">Party Name</span>
            <select id="CmbAccountFilter" class="dtcombo" data-dtcombo="single" data-dtcombo-caption="Party Name" style="left:755px;top:40px;width:259px;height:26px" data-r="760,40,259,26"></select>
            <button type="button" class="bt v" id="btnShowRecords" style="left:1015px;top:40px;width:57px;height:25px" data-r="1020,41,57,25" onclick="ADJ.showClick()">Show</button>
        </div>
    </div>

    <!-- tabControl2 340: tabPage3 "Detail" (top tab) -->
    <div id="tabControl2" class="dk-box" style="height:340px">
        <div class="dk-ttabs"><span>Detail</span></div>
        <div style="height:315px;padding:3px;border:1px solid #adadad;border-top:0;display:flex;flex-direction:column">
            <div class="dk-teal" id="panel16" style="height:21px;flex:0 0 auto">
                <span class="t13" id="label23" style="left:5px;top:2px">Detail</span>
                <button type="button" class="dk-cyanbtn" id="BtnAutoUtilize" style="right:43px;top:-1px;height:22px" onclick="ADJ.autoUtilize()" th:text="${adjAutoCaption}" th:style="${adjKind == 'receipt'} ? 'right:43px;top:-1px;height:22px;width:113px' : 'right:43px;top:-1px;height:22px;width:211px'">Auto Utilize Voucher Amount</button>
                <span class="dk-cog" style="right:3px;top:0" title="Grid layout (desktop only)"><i class="fa fa-cog"></i></span>
            </div>
            <div class="dk-grid tot adj" id="grdWrap" tabindex="0" style="flex:1 1 auto;min-height:0"><table data-gridbar="AdjustmentVoucher:grd" class="g" id="grd"></table></div>
        </div>
    </div>

    <!-- panel6 Teal 24 -->
    <div class="dk-teal" id="panel6" style="height:24px">
        <span class="t13" id="label58" style="left:3px;top:4px">Pending Vouchers For Adjustment</span>
        <span class="dk-cog" style="right:2px;top:1px" title="Grid layout (desktop only)"><i class="fa fa-cog"></i></span>
    </div>
    <!-- grdPendingVouchers: Dock Fill (designer 1082 x 88) -->
    <div class="dk-grid tot dk-fill" id="grdPendingWrap" tabindex="0" style="min-height:120px"><table data-gridbar="AdjustmentVoucher:grdPendingVouchers" class="g" id="grdPendingVouchers"></table></div>
</div>

<!-- ====================================================== tabPage2 "History" -->
<div class="dk-page" id="pageHistory" hidden>
    <!-- panel2 27: toolStrip2 -->
    <div class="dk-box" id="panel2" style="height:27px">
        <div class="dk-ts h25" id="toolStrip2">
            <button type="button" id="BtnNewHistory" onclick="ADJ.resetHistory()"><i class="fa fa-plus-circle g"></i>New</button>
            <button type="button" id="BtnRefreshHistory" onclick="ADJ.partiesClick()"><i class="fa fa-refresh b"></i>Refresh</button>
        </div>
    </div>
    <!-- panel9 Teal 27 -->
    <div class="dk-teal" id="panel9" style="height:27px"><span class="t16" id="label54" style="left:5px;top:3px">Adjustment Vouchers History </span></div>
    <!-- panel5 73: groupBox4 "Filters" 966 x 69 at 1,2 -->
    <div class="dk-box" id="panel5" style="height:73px">
        <div class="dk-gb" id="groupBox4" style="left:1px;top:2px;width:966px;height:69px"><span class="cap">Filters</span>
            <span class="l" id="label75" style="left:6px;top:18px">Date Type</span>
            <select id="cmbDateTypeHistory" class="dtcombo" data-dtcombo="single" data-dtcombo-caption="Parameters" style="left:6px;top:39px;width:140px;height:26px" onchange="ADJ.dateTypeChanged()">
                <option value="1">This Day</option><option value="2">This Week</option><option value="3">This Month</option>
                <option value="4">This Year</option><option value="5">Financial Year</option>
            </select>
            <span class="l" id="label2" style="left:150px;top:18px">Date From</span>
            <input type="checkbox" class="dk-dtchk" id="chkFrom" checked style="left:218px;top:19px" title="txtFromdateHistory.ShowCheckBox">
            <input class="x d chk" type="date" id="txtFromdateHistory" style="left:214px;top:14px;width:125px">
            <span class="l" id="label8" style="left:150px;top:45px">Date To</span>
            <input type="checkbox" class="dk-dtchk" id="chkTo" checked style="left:218px;top:46px" title="txtToDateHistory.ShowCheckBox">
            <input class="x d chk" type="date" id="txtToDateHistory" style="left:214px;top:41px;width:125px">
            <span class="l" id="label77" style="left:344px;top:18px">Voucher From</span>
            <input class="x" type="text" id="txtFromNoHistory" style="left:428px;top:14px;width:74px" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
            <span class="l" id="label3" style="left:344px;top:45px">Voucher To</span>
            <input class="x" type="text" id="txtToDocNoHistory" style="left:428px;top:41px;width:74px" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
            <span class="l" id="label73" style="left:503px;top:18px">Party</span>
            <select id="CmbCustomerHistory" class="dtcombo" data-dtcombo="single" data-dtcombo-caption="Party Name" style="left:541px;top:12px;width:220px;height:26px"></select>
            <button type="button" class="bt v" id="btnshow" style="left:705px;top:40px;width:56px;height:25px" onclick="ADJ.historyClick()">Show</button>
            <label class="rb s9" style="left:767px;top:16px;height:19px"><input type="radio" name="histDate" value="doc" checked> Voucher Date</label>
            <label class="rb s9" style="left:767px;top:43px;height:19px"><input type="radio" name="histDate" value="entry"> Voucher Entry Date</label>
            <label class="rb s9 wrap" style="left:873px;top:5px;width:91px;height:43px"><input type="radio" name="histDate" value="modify"> Voucher Modify Date</label>
        </div>
    </div>
    <!-- panel7 Teal 27 -->
    <div class="dk-teal" id="panel7" style="height:27px">
        <span class="t16" id="label78" style="left:5px;top:3px">Filtered Records</span>
        <span class="dk-cog" style="right:4px;top:1px;width:49px;height:25px" title="Grid layout (desktop only)"><i class="fa fa-cog"></i></span>
    </div>
    <!-- grdHistory: Dock Fill (designer 1082 x 422) -->
    <div class="dk-grid tot dk-fill" id="grdHistoryWrap" tabindex="0" style="min-height:200px"><table data-gridbar="AdjustmentVoucher:grdHistory" class="g" id="grdHistory"></table></div>
</div>

</div></div>
<!-- tabControl1.Alignment = Bottom; History button on the right of the footer -->
<div class="dk-btabs">
    <button type="button" class="tab on" id="tabForm" onclick="ADJ.tab(0)">Form</button>
    <button type="button" class="tab" id="tabHistory" onclick="ADJ.tab(1)">History</button>
    <span class="sp"></span>
    <button type="button" class="ftrbtn" id="btnHistoryFooter" onclick="ADJ.tab(1)"><i class="fa fa-history"></i>History</button>
</div>

<script>
/* R3: frmReceiptInvoicesAdjustmentVoucher geometry where it differs (applied before the combos are built) */
(function () {
    if (document.body.getAttribute('data-kind') !== 'receipt') return;
    document.getElementById('dkRoot').style.minWidth = '1093px';
    Array.prototype.forEach.call(document.querySelectorAll('[data-r]'), function (e) {
        var g = e.getAttribute('data-r').split(',');
        e.style.left = g[0] + 'px'; e.style.top = g[1] + 'px';
        if (g[2]) e.style.width = g[2] + 'px';
        if (g[3]) e.style.height = g[3] + 'px';
    });
}());
</script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20261002ge}"></script>
<script>
/* R3: CmbPaymentType is a countx_prod_combo now, so its UltraCombo Leave (supplier reload) is focus leaving the combo */
(function () {
    var s = document.getElementById('CmbPaymentType');
    var c = window.DesktopCombo && window.DesktopCombo.enhance(s);
    var leave = function () { if (window.ADJ) window.ADJ.supplierLeave(); };
    if (!c) { s.addEventListener('blur', leave); return; }
    c.wrap.addEventListener('focusout', function (e) {
        if (e.relatedTarget && c.wrap.contains(e.relatedTarget)) return;
        setTimeout(function () { if (!c.wrap.contains(document.activeElement)) leave(); }, 0);
    });
}());
</script>
<script th:src="@{/build/js/countx_accounts_groupd.js?v=20260930s}"></script>
<script th:src="@{/build/js/countx_adjustment_voucher.js?v=20261002h}"></script>
<script src="/js/print-rpt.js?v=20261003erp"></script>
<script th:src="@{/build/js/countx_grid_bar.js?v=20261006-gridmount}"></script>
</body>
</html>
