<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cash Receipt Voucher</title>

    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20260930s}">
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20260930s}">
    <link rel="stylesheet" th:href="@{/build/css/countx_payment_receipt_voucher.css?v=20261002ga}">
</head>
<body class="prv-body">
    <!-- 2026-10-02 round 3: the ReceiptsVoucherNew designer layout (Architecture.WinApp.Account_Definition.ReceiptsVoucherNew,
         DocumentTypeId 3). The Form and History tab pages are drawn by countx_payment_receipt_voucher.js at the
         InitializeComponent coordinates; the tab strip is at the bottom as on the desktop (TabAlignment.Bottom). -->
    <div class="prv-caption">
        <span>Cash Receipt Voucher</span>
        <a href="/accounts/dashboard"><i class="fa fa-arrow-left"></i> Back to Dashboard</a>
    </div>

    <div class="prv-pages" id="prvPages">
        <div id="tabFormContent" class="prv-page prv-rec">
            <!-- panel3 / toolStrip2 - the desktop order; SMS and Delete are Visible = false on the desktop. -->
            <div class="prv-ts"><div class="prv-ts-in" id="prvToolStrip">
                <button type="button" class="prv-ts-btn" id="btnNew"><i class="fa fa-plus-circle" style="color:#2e7d32"></i><span><u>N</u>ew</span></button>
                <button type="button" class="prv-ts-btn" id="btnRefresh"><i class="fa fa-refresh" style="color:#2e7d32"></i><span>Refresh</span></button>
                <button type="button" class="prv-ts-btn" id="btnUpdate" style="display:none;"><i class="fa fa-pencil" style="color:#e65100"></i><span><u>U</u>pdate</span></button>
                <button type="button" class="prv-ts-btn" id="btnSave"><i class="fa fa-floppy-o" style="color:#1565c0"></i><span><u>S</u>ave</span></button>
                <button type="button" class="prv-ts-btn" id="btnSaveAs" style="display:none;"><i class="fa fa-floppy-o" style="color:#1565c0"></i><span>SaveAs</span></button>
                <button type="button" class="prv-ts-btn" id="btnAttachment"><i class="fa fa-paperclip" style="color:#455a64"></i><span><u>A</u>ttachment</span></button>
                <button type="button" class="prv-ts-btn" id="btnPrint" data-rpt="102-ANewAcRptPaymentReceiptsVoucherSlip.rpt" data-rpt-own><i class="fa fa-print" style="color:#37474f"></i><span>102-<u>P</u>rint</span></button>
                <button type="button" class="prv-ts-btn" id="btnPrint2" data-rpt="102-AcRptPaymentReceiptsVoucherSlip.rpt" data-rpt-own><i class="fa fa-print" style="color:#37474f"></i><span>102-Print-II</span></button>
                <button type="button" class="prv-ts-btn" id="btnPrint3" data-rpt="102-CashReceiptVoucher.rpt" data-rpt-own><i class="fa fa-print" style="color:#37474f"></i><span>102-III</span></button>
                <button type="button" class="prv-ts-btn" id="btnShortcuts"><span>ShortCut Keys</span></button>
                <button type="button" class="prv-ts-btn" id="btnSpecialRights"><i class="fa fa-key" style="color:#c49000"></i><span>Special Rights</span></button>
            </div></div>
            <!-- panel4, groupBox2 "Main", groupboxdetail "Detail", the grid and the WHT / totals panel -->
            <div id="prvForm"></div>
        </div>

        <div id="tabHistoryContent" class="prv-page prv-rec" style="display: none;">
            <!-- HistoryFillCrv / USP_VoucherFormHistory: toolbar, teal title, Filters box, history grid, detail grid -->
            <div id="prvHistory"></div>
        </div>
    </div>

    <div class="prv-tabs prv-tabs-rec">
        <button type="button" class="win-tab-btn active" id="tabBtnForm">Form</button>
        <button type="button" class="win-tab-btn" id="tabBtnHistory">CRV History</button>
    </div>

    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/build/js/countx_voucher_desktop_config.js?v=20260930s}"></script>
    <script th:src="@{/build/js/countx_prod_combo.js?v=20260930s}"></script>
    <script th:src="@{/build/js/countx_crystal_print.js?v=20260930s}"></script>
    <script th:src="@{/build/js/countx_payment_receipt_voucher.js?v=20261002ga}"></script>
    <script th:src="@{/build/js/countx_special_rights.js?v=20260930t}"></script>
    <script>
        /* Form and History tabs: countx_payment_receipt_voucher.js (PRV) - one source for screens 28-31. */
        PRV.init({ doc: 3 });
    </script>
<script src="/js/print-rpt.js?v=20261001a"></script>
</body>
</html>
