<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}">
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}">
    <title>Wages_Account_Schedule</title>
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/build/css/countx_desktop_combo.css?v=20260920a}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_prod_combo.css?v=20260928b}"/>
    <link rel="stylesheet" th:href="@{/build/css/countx_wages_schedule.css?v=20260929a}"/>
</head>
<body>
<!-- frmContractWagesSchedule.cs - ClientSize 1030 x 710; tabWagesSchedule (Fill): "Form" / "History" -->
<div class="ws-form" id="frmContractWagesSchedule">
    <div class="tabs"><span class="tabbtn act" id="tabBtn1">Form</span><span class="tabbtn" id="tabBtn2">History</span></div>

    <!-- ================================================================ tabPage1 "Form" -->
    <div class="tabpage" id="tabPage1">
        <div class="tool" id="toolStrip1">
            <button type="button" id="btnnew"><i class="fa fa-plus-circle ic-new"></i><u>N</u>ew</button>
            <button type="button" id="btnRefresh"><i class="fa fa-refresh"></i>Refresh</button>
            <span class="sep"></span>
            <button type="button" id="btnUpdate" style="display:none;"><i class="fa fa-check-circle ic-upd"></i><u>U</u>pdate</button>
            <button type="button" id="btnsave"><i class="fa fa-floppy-o ic-save"></i><u>S</u>ave</button>
            <button type="button" id="btnPrintForm"><i class="fa fa-print ic-print"></i>06_Print</button>
            <span class="sep"></span>
            <button type="button" id="btnshortcutkeys"><i class="fa fa-key"></i>ShortCut Keys</button>
            <span class="sep"></span>
            <button type="button" id="btnWagesAccount"><i class="fa fa-book ic-new"></i>Wages Account</button>
        </div>
        <div class="teal band35"><span class="ttl" style="left:9px; top:8px;">Wages_Account_Schedule</span></div>

        <div class="panel2" style="height:79px;">
            <fieldset class="gb" id="groupBox2" style="left:6px; top:3px; width:1002px; height:69px;">
                <span class="g lbl" style="left:3px; top:18px;">Effected Date From</span><span class="g star" style="left:110px; top:15px;">*</span>
                <input type="date" id="txtdate" class="g dt" style="left:128px; top:14px; width:152px;" tabindex="1">
                <span class="g lbl" style="left:284px; top:18px;">Effected Date To</span><span class="g star" style="left:376px; top:15px;">*</span>
                <input type="date" id="txtdateto" class="g dt" style="left:394px; top:14px; width:152px;" tabindex="2">
                <span class="g lbl" style="left:550px; top:18px;">Wages Account</span><span class="g star" style="left:642px; top:15px;">*</span>
                <select id="combAccountName" class="g win-combo dtcombo" data-dtcombo="single" data-dtcombo-caption="Account Name"
                        style="left:660px; top:12px; width:332px;" tabindex="3"></select>

                <span class="g lbl" style="left:5px; top:44px;">Pack UOM From</span><span class="g star" style="left:110px; top:41px;">*</span>
                <input type="text" id="txtPackUOMFrom" class="g tx" style="left:127px; top:40px; width:153px;" tabindex="4" inputmode="decimal">
                <span class="g lbl" style="left:284px; top:44px;">Pack UOM To</span><span class="g star" style="left:376px; top:41px;">*</span>
                <input type="text" id="txtPackUOMTO" class="g tx" style="left:394px; top:40px; width:152px;" tabindex="5" inputmode="decimal">
                <span class="g lbl" style="left:550px; top:44px;">Wages Rate</span><span class="g star" style="left:642px; top:41px;">*</span>
                <input type="text" id="txtwagesrate" class="g tx" style="left:660px; top:40px; width:171px;" tabindex="6" inputmode="decimal">
            </fieldset>
        </div>

        <div class="teal band24"><span class="ttl2" style="left:3px; top:3px;">History of Selected Account</span><span class="gear"><i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i></span></div>
        <div class="grid-wrap" id="wrapGrid1" tabindex="7"><table class="grid" id="grdWagesSchedule"></table></div>
    </div>

    <!-- ================================================================ tabPage2 "History" -->
    <div class="tabpage is-hidden" id="tabPage2">
        <div class="panel8" style="height:123px;">
            <div class="tool" id="toolStrip2">
                <button type="button" id="BtnNewHistory"><i class="fa fa-plus-circle ic-new"></i>New</button>
                <button type="button" id="BtnRefreshHistory"><i class="fa fa-refresh"></i><u>R</u>efresh</button>
                <button type="button" id="btnPrint"><i class="fa fa-print ic-print"></i>06_Print</button>
            </div>
            <div class="teal" style="position:absolute; left:0; top:27px; right:0; height:31px;"><span class="ttl" style="left:6px; top:6px;">Wages Schedule History</span></div>
            <span class="g lbl" style="left:4px; top:67px;">Date From</span>
            <input type="date" id="FromDateHistory" class="g dt" style="left:77px; top:63px; width:183px;" tabindex="20">
            <span class="g lbl" style="left:4px; top:96px;">Date To</span>
            <input type="date" id="txtToDateHistory" class="g dt" style="left:77px; top:92px; width:183px;" tabindex="21">
            <span class="g lbl" style="left:266px; top:67px;">Contractor Name</span>
            <select id="CmbContractoryHistory" class="g win-combo dtcombo" data-dtcombo="single" data-dtcombo-caption="Contractor Name"
                    style="left:363px; top:61px; width:336px;" tabindex="22"></select>
            <span class="g lbl" style="left:266px; top:96px;">Wages Account</span>
            <select id="CmbWagesAccountHistory" class="g win-combo dtcombo" data-dtcombo="single" data-dtcombo-caption="Wages Account"
                    style="left:363px; top:90px; width:336px;" tabindex="23"></select>
            <button type="button" id="btnshowHistory" class="g show" style="left:704px; top:92px; width:65px; height:26px;" tabindex="24">Show</button>
        </div>
        <div class="teal band27"><span class="ttl" style="left:3px; top:5px;">Filtered Records</span><span class="gear"><i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i></span></div>
        <div class="grid-wrap" id="wrapGrid2" tabindex="25"><table class="grid" id="gridhistory"></table></div>
    </div>
</div>

<script>window.WS_MODE = 'plain';</script>
<script th:src="@{/build/js/countx_report_kit.js?v=20260924a}"></script>
<script th:src="@{/build/js/countx_crystal_print.js?v=20260924a}"></script>
<script th:src="@{/build/js/countx_prod_combo.js?v=20260928a}"></script>
<script th:src="@{/build/js/countx_contractor_wages_schedule.js?v=20260929a}"></script>
</body>
</html>
